@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Neue Montreal";
  src: url("/fonts/PPNeueMontreal-Medium.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}
